  
// Basic Styles
*
  box-sizing: border-box
  margin: 0
  padding: 0

html, body, .page-wrap
  margin: 0
  padding: 0
  height: 100%
  
a
  text-decoration: none
  color: black
  cursor: pointer
    
.left
  float: left
    
.center
  text-align: center
    
.right
  float: right
  
@mixin background-size($arg)
  -webkit-background-size: $arg
  -moz-background-size: $arg
  -ms-background-size: $arg
  background-size: $arg
  
=filter-gradient($start-color, $end-color, $orientation: vertical)
  $gradient-type: if($orientation == vertical, 0, 1)
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}')

// #################################
/* GRID  */
.grid-container
  width: 100%
  
  & *
    box-sizing: border-box
  
.row:before, .row:after
  content: ""
  display: table
  clear: both
    
[class*='col-']
  float: left
  min-height: 1px
  width: 16.66%
  //gutter
  padding: 12px
  
  & *
    box-sizing: none
    padding: 0
    margin: 0
  
.col-1
  width: 16.66%
  
.col-2
  width: 33.33%
  
.col-3
  width: 50%
  
.col-4
  width: 66.664%
  
.col-5
  width: 83.33%
  
.col-6
  width: 100%
  
.outline, .outline *
  outline: 1px solid #F6A1A1

@media all and (max-width: 800px)
  .col-1
    width: 33.33%
    
  .col-2
    width: 50%
    
  @for $i from 2 through 6
    .col-#{$i}
      width: 100%

  .row
    .col-2:last-of-type
      width: 100%
      
  .row
    .col-5 ~ .col-1
      width: 100%
      
@media all and (max-width: 650px)
  .col-1
    width: 50%
    
  @for $i from 2 through 6
    .col-#{$i}
      width: 100%
  
    
/* Smartphones (portrait and landscape) --  --  --  --  -- - */
//@media only screen and (min-device-width : 320px)  and (max-device-width : 767px)
  
 
/* Smartphones (landscape) --  --  --  --  -- - */
//@media only screen and (min-width : 414px) and (max-device-width : 767px)
 
/* Smartphones (portrait) --  --  --  --  -- - */
//@media only screen and (max-width : 414px)

/* iPads (portrait and landscape) --  --  --  --  -- - */
//@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
  
 
/* iPads (landscape) --  --  --  --  -- - */
//@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)

/* iPads (portrait) */
//@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)