.about-wrapper
  position: relative
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 630px
  height: auto
  padding: 10px 5px
  text-align: center
  
  @media screen and (max-width: 800px)
    width: 100%
  
  @media screen and (max-width: 700px)
    margin: 30px 0 0 0
    
  @media screen and (max-width: 600px)
    margin: 190px 0 0 0
    
  @media screen and (max-width: 590px)
    margin: 270px 0 0 0

  h1
    text-align: center
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 60px
    margin-bottom: 20px
    
  p
    font-size: 18px
    font-family: 'Open Sans', sans-serif
    font-weight: 300
    
  a
    color: #2E2EFE
    text-decoration: underline