.admin-wrap
  height: 100%
  
.admin-header
  height: 50px
  
.admin-page-content
  +transition()
  position: relative
  background-color: #ecf0f1
  height: 100%
  z-index: 0
  
  .admin-header
    background-color: #408EBA
    
    .toggle
      cursor: pointer
      text-decoration: none
      font-size: 30px
      color: black
      margin: 0 12px 0 12px
      
  .admin-content
    padding: 14px 20px
    overflow-y: hidden
    height: calc(100% - 50px)
    
    .admin-title
      color: #374547
      
    .admin-about-wrapper
      position: relative
      left: 50%
      transform: translateX(-50%)
      max-width: 630px
      height: 600px
      padding: 10px 5px
      text-align: center

      h1
        text-align: center
        font-family: 'Open Sans', sans-serif
        font-weight: 400
        font-size: 60px
        margin-bottom: 20px

      .info
        margin: 10px 0
        font-size: 18px
        font-family: 'Open Sans', sans-serif
        font-weight: 300
        
      .btn
        float: right
  
.admin-sidebar
  +position(fixed, 0px 0 0px $sidebar-width-neg)
  +transition()
  width: $sidebar-width
  background-color: #F4F4F4
  z-index: 0
  
  .admin-header
    background-color: #3A80A7
    
    .logo
      height: 100%
      width: 100%
      color: #FFFFFF
      background-color: #408EBA
      font:
        family: 'Amatic SC', cursive
        size: 24px
      padding: 0 24px
      letter-spacing: 2px
      line-height: 50px
        
  .nav
    li
      a
        display: block
        background-color: #F4F4F4
        padding: 10px 20px
        border-top: 1px solid #FEFEFE
        border-bottom: 1px solid #E2E2E2
        
        &:hover
          background-color: #F9F9F9
      
#sidebartoggler
  display: none
  
  &:checked + .admin-wrap
    
    .admin-sidebar
      left: 0px
      
    .admin-page-content
      margin-left: $sidebar-width
      
.btn
  padding: 6px 12px
  text-transform: uppercase
  color: white
  border-radius: 5px
  +transition()
  float: left
  
  &:active
    @include transform(scale(1.2, 1.2))
  
.btn-green
  background-color: #2ecc71
  
  &:hover
    background-color: #12A350

.btn-red
  background-color: #e74c3c
  
  &:hover
    background-color: #c0392b
  
.btn-orange
  background-color: #e67e22
  
  &:hover
    background-color: #d35400
    
.modal-upload
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 600px
  height: 760px
  background-color: #fff
  z-index: 12
  
  .modal-upload-exit
    float: right
    font-size: 26px
    padding: 10px 20px
    
  &.hidden
    display: none
  
  .dropzone
    margin: 50px 50px 20px 50px
    +size(500px)
    overflow-y: scroll
    border: 2px dashed #cccccc
    
    h1
      display: block
      width: 478px
      height: 500px
      line-height: 500px
      text-align: center
      color: #cccccc
      font-size: 26px
    
    .upload-file
      height: 80px
      width: 100%
      padding: 5px
      
      img
        +size(70px)
        
      span
        display: block
        height: 70px
        padding-left: 10px
        line-height: 70px
        width: calc(100% - 70px)
        float: right
        
    &::-webkit-scrollbar
      width: 12px
    
    &::-webkit-scrollbar-track
      background-color: #eaeaea
      border-left: 1px solid #ccc
    
    &::-webkit-scrollbar-thumb
      background-color: #ccc
      
    &.dragover
      border-color: #000
  
  .album
    width: 500px
    margin: 0 auto 20px
    position: relative
    
  .manual
    width: 500px
    margin: 0 auto
    position: relative
    
    label
      position: absolute
      left: 0
      display: block
      cursor: pointer
      background-color: #e67e22
      padding: 6px 12px
      text-transform: uppercase
      color: white
      border-radius: 5px
      +transition()
      
      &:hover
        background-color: #d35400
      
      &:active
        @include transform(scale(1.2, 1.2))
      
      input.upload
        display: none
    
    a#dropzone_upload
      display: block
      position: absolute
      right: 0
      background-color: #2ecc71
      padding: 6px 12px
      text-transform: uppercase
      color: white
      border-radius: 5px
      +transition()
      
      &:hover
        background-color: #12A350
      
      &:active
        @include transform(scale(1.2, 1.2))

.login
  position: fixed
  width: 450px
  height: 300px
  left: 50%
  top: 50%
  transform: translateX(-50%) translateY(-70%)
  background-color: #ecf0f1
  border-radius: 7px
  
  .login-header
    background-color: #9b59b6
    border-top-left-radius: 7px
    border-top-right-radius: 7px
    width: 100%
    height: 60px
    line-height: 60px
    
    h1
      font:
        family: 'Amatic SC', cursive
        size: 32px
        weight: bold
      text-align: center
      
  form
    //width: 80%
    height: 240px
    margin: 30px
    border-radius: 15px
    
    input[type="text"], input[type="password"]
      width: 100%
      padding: 15px 20px
      font-size: 20px
      border: 0
      background-color: lighten(#ecf0f1, 4%)
      margin: 0 0 10px 0
      
      &:focus
        outline: 0
      
    input[type="submit"]
      padding: 12px 20px
      background-color: #8e44ad
      border: 0
      margin: 15px 0 0 0
      border-radius: 2px
      font-size: 20px
      color: white
      
      &:focus
        outline: 0

.panel
  width: 100%
  min-height: 60px
  border: 1px solid #888
  border-radius: 6px
  background-color: #F7F7F7
  box-shadow: 5px 5px 5px #bbb
  
  .panel-head
    width: 100%
    height: auto
    border-bottom: 1px solid #888
    padding: 5px 20px
    font-size: 20px
    
  .panel-body
    width: 100%
    min-height: 60px
    padding: 10px 15px
    
    input
      width: 100%
      padding: 5px 10px
      margin: 5px 0
      
      &.password
        width: calc(50% - 5px)
      
      &[type="submit"]
        width: auto
        margin: 10px 0
        padding: 5px 10px
        background-color: #e74c3c
        border: 0
        outline: 0
        color: white
        text-transform: uppercase
        +transition()
      
        &:hover
          background-color: darken(#e74c3c, 5%)

        &:active
          @include transform(scale(1.2, 1.2))
  
.alert
  background-color: #e74c3c
  width: calc(100% - 240px)
  margin: 10px 120px
  min-height: 40px
  border-radius: 5px
  padding: 5px 10px
  font-size: 20px
  
  .alert-close
    float: right

.onoffswitch-container
  width: 100%
    
.onoffswitch
  position: relative
  width: 100px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  top: -24px
  right: calc(-100% + 100px)
  
  .onoffswitch-checkbox
    display: none
    
    &:checked + .onoffswitch-label
      & .onoffswitch-inner
        margin-left: 0
      & .onoffswitch-switch
        right: 0px
    
  .onoffswitch-label
    display: block
    overflow: hidden
    cursor: pointer
    border: 2px solid #999
    border-radius: 14px
    
    .onoffswitch-inner
      display: block
      width: 200%
      margin-left: -100%
      +transition(margin 0.3s ease-in 0s)
      
      &:before, &:after
        display: block
        float: left
        width: 50%
        height: 28px
        padding: 0
        line-height: 28px
        font-size: 16px
        color: white
        font-family: Trebuchet, Arial, sans-serif
        font-weight: bold
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
      
      &:before
        content: "ON"
        padding-left: 19px
        background-color: #2ecc71
        color: white
      
      &:after
        content: "OFF"
        padding-right: 19px
        background-color: #EEE
        color: #999
        text-align: right
      
    .onoffswitch-switch
      display: block
      width: 16px
      margin: 3.5px
      background: #FFFFFF
      border: 2px solid #999
      border-radius: 14px
      position: absolute
      top: 0
      bottom: 0
      right: 70px
      +transition(all 0.3s ease-in 0s)
        
.toolbar
  height: 40px
  //background-color: red
  margin: 0 0 15px 0
  
  .btn
    margin: 5px
    
.images,
.albums
  width: auto
  margin: 10px auto
    
  .image-container,
  .album-container
    position: relative
    width: 200px
    height: 133px
    //background-color: black
    padding: 0
    margin: 5px
    display: inline-block
    overflow: hidden
    
    a.btn
      position: absolute
      top: 2px
      left : 2px
      display: none
      z-index: 2
    
    label
      display: block
      
    .overlay
      background: rgba(154, 205, 50, 0)
      +position(absolute, 0px 0px 0px 0px)
      +transition()
      border: 1px solid rgb(154, 205, 50)

    .icons
      position: absolute
      right: 8px
      bottom: 0px

      img
        +size(20px)

    input[type="checkbox"]
      display: none
      position: absolute
      top: 0
      right: 0
      border: 0

      &:checked + .overlay
        background: rgba(154, 205, 50, 0.2)
        border: 4px solid rgb(154, 205, 50)

    img
      width: 100%
      
    &:hover
      & > label > .overlay,
      & > .overlay
        background: rgba(154, 205, 50, 0.3)
      
      & > .btn
        display: block
      

.html5-context-menu
  display: none
  position: absolute
  background-color: #fff
  list-style: none
  
  li
    span
      display: block
      padding: 5px 10px
      cursor: pointer
      
      &:hover
        background-color: #ccc
      
    &.ruler
      display: block
      background-color: #000
      height: 1px

.modal-addalbum
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 1000px
  height: 700px
  background-color: #fff
  z-index: 12
  
  .modal-addalbum-exit
    float: right
    font-size: 26px
    padding: 10px 20px
    
  &.hidden
    display: none
    
  form
    width: 80%
    height: calc(100% - 40px)
    margin: 65px auto 20px
    
    .images
      width: 100%
      margin: 30px 0 10px
      height: 80%
      
      .images1
        float: left
        
      .images2
        float: right
        
      .images1,
      .images2
        background-color: #ecf0f1
        width: 45%
        height: 100%
        padding: 12px
        overflow: hidden
        
        .image
          position: relative
          float: left
          width: 155px
          height: 100px
          background-color: darken(#ecf0f1, 10%)
          margin: 5px
          overflow: hidden
          
          label
            width: 100%
            height: 100%
            
            .overlay
              +position(absolute, 0px 0px 0px 0px)
              +transition()
              background: rgba(154, 205, 50, 0)
            
            img
              width: 100%
              
            input[type='checkbox']
              display: none
            
              &:checked + .overlay
                background: rgba(154, 205, 50, 0.3)
                border: 4px solid rgb(154, 205, 50)
              
            &:hover > .overlay
              background: rgba(154, 205, 50, 0.3)
              
          &.thumb > label > .overlay:before
            content: 'thumbnail'
            color: white
            font-size: 16px
        
      .move-container
        position: absolute
        top: 50%
        left: 50%
        width: 50px
        height: 110px
        transform: translate(-50%, -50%)
        
        .move
          display: block
          +size(50px)
          background-color: #ecf0f1
          border: 1px solid #ccc
          line-height: 45px
          text-align: center
          font-size: 24px
          border-radius: 5px
          
          &:first-child
            margin-bottom: 10px
      
    .btn-green
      float: right
        
.dash-row
  height: 120px
  width: 100%
  
  .dash-panel
    float: left
    height: 100%
    width: 50%
    min-width: 300px
    padding: 15px
    color: white
    font-family: 'Roboto',sans-serif
    
    .dash-panel-body
      position: relative
      
      .txt
        display: block
        font-size: 16px
        font-weight: 400
        
      .count
        position: relative
        font-size: 60px
        font-weight: 700
        top: 2px
        
      .icon
        position: relative
        float: right
        top: -10px
        right: -46px
        font-size: 60px
      
  .dash-panel-green
    background-color: #2ecc71

  .dash-panel-red
    background-color: #e74c3c
        

.upload-overlay
  +position(absolute, 0px 0px 0px -220px)
  display: none
  background-color: rgba(0, 0, 0, 0.9)
  z-index: 999
  
  &.show
    display: block


























