.contact-wrapper
  position: relative
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 630px
  padding: 10px 5px

  h1
    text-align: center
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 60px
    margin-bottom: 20px

  input
    background: none
    border: solid 2px #21a1e1
    color: #21a1e1
    padding: 14px 40px
    font-size: 18px
    display: inline-block
    margin-bottom: 30px

    &:focus,
    &:active
      outline: none

    &[type="text"],
    &[type="email"]
      border: none
      border-bottom: solid 2px #21a1e1
      width: 308px

    &[type="submit"]
      &:active
        color: white
        background: #21a1e1

  textarea
    background: none
    background: rgba(0, 0, 0, 0.025)
    border: none
    border-top: solid 2px #21a1e1
    color: #21a1e1
    padding: 30px 0px
    font-size: 18px
    display: inline-block
    margin-bottom: 30px
    resize: none
    width: 100%
    height: 300px

    &:focus,
    &:active
      outline: none

  .input-group
    display: inline-block
    margin: 0 auto
    position: relative

    input
      padding: 15px 0px

    input + label
      +position(absolute, 50% null null 0px)
      +transform(translateY(-130%))
      font:
        family: $georgia
        style: italic
        size: 18px
      color: #999
      pointer-events: none
      +transition()

    textarea + label
      +position(absolute, 50% null null 0px)
      +transform(translateY(-640%))
      font:
        family: $georgia
        style: italic
        size: 18px
      color: #999
      pointer-events: none
      +transition()

    input:focus + label,
    input.has-value + label
      top: 10px
      left: 10px
      font-size: 14px
      color: #888

    textarea:focus + label,
    textarea.has-value + label
      top: 110px
      left: 10px
      font-size: 14px
      color: #888