.gallery-page-wrapper, .gallery-wrapper, .gallery-album-wrapper
  width: 100%
  height: 100%
  
.gallery-page-wrapper
  +transition(0.5s)
  
  &.show
    z-index: 1
    margin-left: -100%
  
.gallery-wrapper, .gallery-album-wrapper
  h1
    text-align: center
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 60px
    margin-bottom: 20px
    
.gallery-album-wrapper
  position: relative
  top: -100%
  left: 100%
  
  .back
    display: block
    +size(50px)
    position: relative
    top: 8px // 70 is next to text
    left: 40px
    background: url(../img/back.png) center center no-repeat
    background-size: cover
    
.album-carousel
  display: block
  width: 75%
  max-width: 850px
  position: relative
  left: 50%
  transform: translateX(-50%)
  background-color: #C9C9C9
  overflow: hidden

  .prev, .next
    position: absolute
    height: 100%
    width: 20%
    +transition()
    top: 0%
    cursor: pointer

    &:hover
      background-color: rgba(0, 0, 0, 0.5)

    span
      position: relative
      top: calc(50% - 30px)
      left: calc(50% - 30px)
      transform: translateX(-50%) translateY(-50%)
      color: white
      font-size: 64px
      font-weight: bold

  .next
    left: calc(80% + 1px)

    span
      left: 50%

  .images
    width: 20000em
    height: 100%
    position: relative
    list-style: none
    margin: 0
    margin-left: 0
    padding: 0

    &.trans
      +transition(0.5s)

    li
      float: left
      display: inline-block

      img
        position: relative
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)

.album-mini-carousel
  height: 150px
  position: relative
  left: 50%
  transform: translateX(-50%)

  ul
    position: relative
    list-style: none
    margin: 0
    margin-left: 0
    padding: 0

    li
      float: left
      display: inline-block
        
.thumb-container
  max-width: 960px
  margin: 0px auto
  padding-bottom: 100px
  +clearfix
  
  .thumb-unit
    display: block
    width: 32.8125%
    padding-top: 21.875%
    //height: 210px
    margin: 2.5px
    float: left
    position: relative
    overflow: hidden
    
    @media screen and (max-width: 1230px)
      width: calc(48% - 5px)
      padding-top: 29%
    
    background:
      image: url(https://scontent-ams.xx.fbcdn.net/hphotos-xfp1/t31.0-8/1669659_852937101438556_2428433721256459610_o.jpg)
      position: center center
      repeat: no-repeat
      size: cover
      
    .thumb-overlay
      +position(absolute, 100% 0px null 0px)
      height: 100%
      background: fade-out(#2ecc71, .4)
      text-align: center
      +transition(0.5s)
      
      
      strong
        display: block
        padding: 40px 20px
        color: white
        font-weight: bold
        text-transform: uppercase
        font-size: 24px
        line-height: 1.2
        
    &:hover .thumb-overlay
      +position(absolute, 0% 0px null 0px)

  











































