input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
  background-color: transparent

.clear
  clear: both

.page-wrap
  background-color: #fff
  padding-top: 1px
  
header
  h1
    font-family: "Amatic SC", cursive
    font-size: 42px
    margin: 20px 0
    text-align: center
    letter-spacing: 2.5px
    margin: 60px 0 80px 0
    
    @media screen and (max-width: 800px)
      font-size: 52px
      margin: 20px 0 10px 0
    
.menu
  float: left
  width: 270px
  height: 100%
  padding: 0 0 0 0
  z-index: 999
  
  @media screen and (max-width: 800px)
    height: 307px
    width: 100%
    float: initial
  
  ul
    list-style: none
    
    @media screen and (max-width: 800px)
      text-align: center
    
    li
      a
        display: block
        padding: 10px 20px
        text-transform: uppercase
        letter-spacing: 5px
        color: black
        font-family: 'Open Sans', sans-serif
        font-weight: bold
        font-size: 25px
        position: relative
        @include transition( padding 0.2s )
        
        &:hover
          padding: 10px 20px 10px 40px

.social
  position: absolute
  bottom: 35px
  width: 230px
  text-align: center
  
  a
    color: black
    font-size: 25px
    +transition()
    
    &:hover.facebook
      color: #3b5998

.page-content
  width: calc(100% - 270px)
  height: 100%
  margin: 0 0 0 270px
  padding-top: 1px
  overflow: hidden
  
  @media screen and (max-width: 800px)
    width: 100%
    max-height: calc(100% - 307px - 22px)
    margin: 2px 0 0 0
    
  @media screen and (max-width: 600px)
    max-height: initial
    height: initial
  
  .jcarousel-wrapper
    width: 75%
    height: 86%
    position: relative
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    background-color: black
    
    @media screen and (max-width: 800px)
      transform: translateX(-50%) translateY(-50%)
      width: 100%
      
    @media screen and (max-width: 600px)
      transform: translateX(-50%)
      
    @media screen and (max-width: 590px)
      margin: 60px 0 0 0

  .jcarousel
    position: relative
    overflow: hidden
    width: 100%
    height: 100%

    ul
      width: 20000em
      height: 100%
      position: relative
      list-style: none
      margin: 0
      padding: 0

      li
        float: left
        display: inline-block
        
        img
          background-position: center center
          background-repeat: no-repeat
        
  .jcarousel-control-prev, .jcarousel-control-next
    display: block
    position: relative
    background-color: rgba(0, 0, 0, 0)
    width: 20%
    height: 100%
    text-align: center
    color: white
    font-size: 42px
    //line-height: 20
    +transition()
    
    & > span
      position: relative
      top: calc(50% - 23px)
    
    &:hover
      background-color: rgba(0, 0, 0, 0.2)
    
  .jcarousel-control-prev
    top: calc(-100%)
    
  .jcarousel-control-next
    top: calc(-200%)
    right: calc(-100% + 20%)
      
.album-carousel-main
  margin-top: 20%


































