.email-background
  background-color: #bdc3c7
  padding: 10px

.email-container 
  max-width: 500px
  margin: 0 auto
  background-color: #fff
  font-family: sans-serif
  border-radius: 5px
  overflow: hidden
  
  h1
    margin: 10px
    font-size: 32px
    font-weight: 300
    text-align:  center
    color: #666
    line-height: 1.5
    
  .contact-info
    width: 100%
    
    .row 
      width: calc(100% - 20px)
      margin: 0 10px
      height: 80px
      
      .name
        width: 48%
        float: left
        
        h3
          border-bottom: 2px solid #21a1e1
    
      .email
        width: 48%
        float: right
        
        h3
          border-bottom: 2px solid #21a1e1
        
    .message
      background: rgba(0, 0, 0, 0.035)
      width: calc(100% - 20px)
      margin: 0 10px
      padding: 8px 0 0 0
      border-top: 2px solid #21a1e1
      
  .options
    text-align: center
    margin: 20px

    a
      text-decoration: none
      //text-transform: uppercase
      letter-spacing: 0.05em
      background: none
      color: #21a1e1
      display: inline-block
      padding: 6px 10px
      border: 2px solid #21a1e1
        
h2
  color: #999
  font-size: 14px
  margin: 0
  padding: 0 0 0 14px
  font-family: Georgia, Cambria, "Times New Roman", Times, serif
  font-style: italic

h3
  color: #21a1e1
  font-size: 18px
  padding: 15px 0
  margin: 0 0 10px 0
  
img
  max-width: 100%
  























