.email-background {
  background-color: #bdc3c7;
  padding: 10px;
}

.email-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
}
.email-container h1 {
  margin: 10px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #666666;
  line-height: 1.5;
}
.email-container .contact-info {
  width: 100%;
}
.email-container .contact-info .row {
  width: calc(100% - 20px);
  margin: 0 10px;
  height: 80px;
}
.email-container .contact-info .row .name {
  width: 48%;
  float: left;
}
.email-container .contact-info .row .name h3 {
  border-bottom: 2px solid #21a1e1;
}
.email-container .contact-info .row .email {
  width: 48%;
  float: right;
}
.email-container .contact-info .row .email h3 {
  border-bottom: 2px solid #21a1e1;
}
.email-container .contact-info .message {
  background: rgba(0, 0, 0, 0.035);
  width: calc(100% - 20px);
  margin: 0 10px;
  padding: 8px 0 0 0;
  border-top: 2px solid #21a1e1;
}
.email-container .options {
  text-align: center;
  margin: 20px;
}
.email-container .options a {
  text-decoration: none;
  letter-spacing: 0.05em;
  background: none;
  color: #21a1e1;
  display: inline-block;
  padding: 6px 10px;
  border: 2px solid #21a1e1;
}

h2 {
  color: #999999;
  font-size: 14px;
  margin: 0;
  padding: 0 0 0 14px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
}

h3 {
  color: #21a1e1;
  font-size: 18px;
  padding: 15px 0;
  margin: 0 0 10px 0;
}

img {
  max-width: 100%;
}
