@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}
@font-face {
  font-family: 'socicon';
  src: url("../fonts/socicon-webfont.eot");
  src: url("../fonts/socicon-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/socicon-webfont.woff") format("woff"), url("../fonts/socicon-webfont.ttf") format("truetype"), url("../fonts/socicon-webfont.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}
.socicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'socicon' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.socicon:empty {
  width: 1em;
}

.socicon-twitter:before {
  content: "a";
}

.socicon-facebook:before {
  content: "b";
}

.socicon-google:before {
  content: "c";
}

.socicon-pinterest:before {
  content: "d";
}

.socicon-foursquare:before {
  content: "e";
}

.socicon-yahoo:before {
  content: "f";
}

.socicon-skype:before {
  content: "g";
}

.socicon-yelp:before {
  content: "h";
}

.socicon-feedburner:before {
  content: "i";
}

.socicon-linkedin:before {
  content: "j";
}

.socicon-viadeo:before {
  content: "k";
}

.socicon-xing:before {
  content: "l";
}

.socicon-myspace:before {
  content: "m";
}

.socicon-soundcloud:before {
  content: "n";
}

.socicon-spotify:before {
  content: "o";
}

.socicon-grooveshark:before {
  content: "p";
}

.socicon-lastfm:before {
  content: "q";
}

.socicon-youtube:before {
  content: "r";
}

.socicon-vimeo:before {
  content: "s";
}

.socicon-dailymotion:before {
  content: "t";
}

.socicon-vine:before {
  content: "u";
}

.socicon-flickr:before {
  content: "v";
}

.socicon-500px:before {
  content: "w";
}

.socicon-instagram:before {
  content: "x";
}

.socicon-wordpress:before {
  content: "y";
}

.socicon-tumblr:before {
  content: "z";
}

.socicon-blogger:before {
  content: "A";
}

.socicon-technorati:before {
  content: "B";
}

.socicon-reddit:before {
  content: "C";
}

.socicon-dribbble:before {
  content: "D";
}

.socicon-stumbleupon:before {
  content: "E";
}

.socicon-digg:before {
  content: "F";
}

.socicon-envato:before {
  content: "G";
}

.socicon-behance:before {
  content: "H";
}

.socicon-delicious:before {
  content: "I";
}

.socicon-deviantart:before {
  content: "J";
}

.socicon-forrst:before {
  content: "K";
}

.socicon-playstore:before {
  content: "L";
}

.socicon-zerply:before {
  content: "M";
}

.socicon-wikipedia:before {
  content: "N";
}

.socicon-apple:before {
  content: "O";
}

.socicon-flattr:before {
  content: "P";
}

.socicon-github:before {
  content: "Q";
}

.socicon-chimein:before {
  content: "R";
}

.socicon-friendfeed:before {
  content: "S";
}

.socicon-newsvine:before {
  content: "T";
}

.socicon-identica:before {
  content: "U";
}

.socicon-bebo:before {
  content: "V";
}

.socicon-zynga:before {
  content: "W";
}

.socicon-steam:before {
  content: "X";
}

.socicon-xbox:before {
  content: "Y";
}

.socicon-windows:before {
  content: "Z";
}

.socicon-outlook:before {
  content: "1";
}

.socicon-coderwall:before {
  content: "2";
}

.socicon-tripadvisor:before {
  content: "3";
}

.socicon-appnet:before {
  content: "4";
}

.socicon-goodreads:before {
  content: "5";
}

.socicon-tripit:before {
  content: "6";
}

.socicon-lanyrd:before {
  content: "7";
}

.socicon-slideshare:before {
  content: "8";
}

.socicon-buffer:before {
  content: "9";
}

.socicon-rss:before {
  content: ",";
}

.socicon-vkontakte:before {
  content: ";";
}

.socicon-disqus:before {
  content: ":";
}

.socicon-houzz:before {
  content: "+";
}

.socicon-mail:before {
  content: "@";
}

.socicon-patreon:before {
  content: "=";
}

.socicon-paypal:before {
  content: "-";
}

.socicon-playstation:before {
  content: "^";
}

.socicon-smugmug:before {
  content: "¨";
}

.socicon-swarm:before {
  content: "$";
}

.socicon-triplej:before {
  content: "*";
}

.socicon-yammer:before {
  content: "&";
}

.socicon-stackoverflow:before {
  content: "(";
}

.socicon-drupal:before {
  content: "#";
}

.socicon-odnoklassniki:before {
  content: ".";
}

.socicon-android:before {
  content: "_";
}

.socicon-meetup:before {
  content: "]";
}

.socicon-persona:before {
  content: ")";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .page-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

/* GRID  */
.grid-container {
  width: 100%;
}
.grid-container * {
  box-sizing: border-box;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px;
}
[class*='col-'] * {
  box-sizing: none;
  padding: 0;
  margin: 0;
}

.col-1 {
  width: 16.66%;
}

.col-2 {
  width: 33.33%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.664%;
}

.col-5 {
  width: 83.33%;
}

.col-6 {
  width: 100%;
}

.outline, .outline * {
  outline: 1px solid #f6a1a1;
}

@media all and (max-width: 800px) {
  .col-1 {
    width: 33.33%;
  }

  .col-2 {
    width: 50%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .row .col-2:last-of-type {
    width: 100%;
  }

  .row .col-5 ~ .col-1 {
    width: 100%;
  }
}
@media all and (max-width: 650px) {
  .col-1 {
    width: 50%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }
}
/* Smartphones (portrait and landscape) --  --  --  --  -- - */
/* Smartphones (landscape) --  --  --  --  -- - */
/* Smartphones (portrait) --  --  --  --  -- - */
/* iPads (portrait and landscape) --  --  --  --  -- - */
/* iPads (landscape) --  --  --  --  -- - */
/* iPads (portrait) */
.spinner {
  position: absolute;
  top: 50%;
  left: calc(50% + 35px);
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent;
}

.clear {
  clear: both;
}

.page-wrap {
  background-color: white;
  padding-top: 1px;
}

header h1 {
  font-family: "Amatic SC", cursive;
  font-size: 42px;
  margin: 20px 0;
  text-align: center;
  letter-spacing: 2.5px;
  margin: 60px 0 80px 0;
}
@media screen and (max-width: 800px) {
  header h1 {
    font-size: 52px;
    margin: 20px 0 10px 0;
  }
}

.menu {
  float: left;
  width: 270px;
  height: 100%;
  padding: 0 0 0 0;
  z-index: 999;
}
@media screen and (max-width: 800px) {
  .menu {
    height: 307px;
    width: 100%;
    float: initial;
  }
}
.menu ul {
  list-style: none;
}
@media screen and (max-width: 800px) {
  .menu ul {
    text-align: center;
  }
}
.menu ul li a {
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  -webkit-transition: padding 0.2s;
  -moz-transition: padding 0.2s;
  transition: padding 0.2s;
}
.menu ul li a:hover {
  padding: 10px 20px 10px 40px;
}

.social {
  position: absolute;
  bottom: 35px;
  width: 230px;
  text-align: center;
}
.social a {
  color: black;
  font-size: 25px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.social a:hover.facebook {
  color: #3b5998;
}

.page-content {
  width: calc(100% - 270px);
  height: 100%;
  margin: 0 0 0 270px;
  padding-top: 1px;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .page-content {
    width: 100%;
    max-height: calc(100% - 307px - 22px);
    margin: 2px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  .page-content {
    max-height: initial;
    height: initial;
  }
}
.page-content .jcarousel-wrapper {
  width: 75%;
  height: 86%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
}
@media screen and (max-width: 800px) {
  .page-content .jcarousel-wrapper {
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .page-content .jcarousel-wrapper {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 590px) {
  .page-content .jcarousel-wrapper {
    margin: 60px 0 0 0;
  }
}
.page-content .jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.page-content .jcarousel ul {
  width: 20000em;
  height: 100%;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-content .jcarousel ul li {
  float: left;
  display: inline-block;
}
.page-content .jcarousel ul li img {
  background-position: center center;
  background-repeat: no-repeat;
}
.page-content .jcarousel-control-prev, .page-content .jcarousel-control-next {
  display: block;
  position: relative;
  background-color: transparent;
  width: 20%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 42px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.page-content .jcarousel-control-prev > span, .page-content .jcarousel-control-next > span {
  position: relative;
  top: calc(50% - 23px);
}
.page-content .jcarousel-control-prev:hover, .page-content .jcarousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.page-content .jcarousel-control-prev {
  top: calc(-100%);
}
.page-content .jcarousel-control-next {
  top: calc(-200%);
  right: calc(-100% + 20%);
}

.album-carousel-main {
  margin-top: 20%;
}

.about-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 630px;
  height: auto;
  padding: 10px 5px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .about-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .about-wrapper {
    margin: 30px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  .about-wrapper {
    margin: 190px 0 0 0;
  }
}
@media screen and (max-width: 590px) {
  .about-wrapper {
    margin: 270px 0 0 0;
  }
}
.about-wrapper h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
}
.about-wrapper p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.about-wrapper a {
  color: #2e2efe;
  text-decoration: underline;
}

.gallery-page-wrapper, .gallery-wrapper, .gallery-album-wrapper {
  width: 100%;
  height: 100%;
}

.gallery-page-wrapper {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.gallery-page-wrapper.show {
  z-index: 1;
  margin-left: -100%;
}

.gallery-wrapper h1, .gallery-album-wrapper h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
}

.gallery-album-wrapper {
  position: relative;
  top: -100%;
  left: 100%;
}
.gallery-album-wrapper .back {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
  top: 8px;
  left: 40px;
  background: url(../img/back.png) center center no-repeat;
  background-size: cover;
}

.album-carousel {
  display: block;
  width: 75%;
  max-width: 850px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c9c9c9;
  overflow: hidden;
}
.album-carousel .prev, .album-carousel .next {
  position: absolute;
  height: 100%;
  width: 20%;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  top: 0%;
  cursor: pointer;
}
.album-carousel .prev:hover, .album-carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.album-carousel .prev span, .album-carousel .next span {
  position: relative;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 64px;
  font-weight: bold;
}
.album-carousel .next {
  left: calc(80% + 1px);
}
.album-carousel .next span {
  left: 50%;
}
.album-carousel .images {
  width: 20000em;
  height: 100%;
  position: relative;
  list-style: none;
  margin: 0;
  margin-left: 0;
  padding: 0;
}
.album-carousel .images.trans {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.album-carousel .images li {
  float: left;
  display: inline-block;
}
.album-carousel .images li img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.album-mini-carousel {
  height: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.album-mini-carousel ul {
  position: relative;
  list-style: none;
  margin: 0;
  margin-left: 0;
  padding: 0;
}
.album-mini-carousel ul li {
  float: left;
  display: inline-block;
}

.thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding-bottom: 100px;
}
.thumb-container:after {
  content: "";
  display: table;
  clear: both;
}
.thumb-container .thumb-unit {
  display: block;
  width: 32.8125%;
  padding-top: 21.875%;
  margin: 2.5px;
  float: left;
  position: relative;
  overflow: hidden;
  background-image: url(https://scontent-ams.xx.fbcdn.net/hphotos-xfp1/t31.0-8/1669659_852937101438556_2428433721256459610_o.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1230px) {
  .thumb-container .thumb-unit {
    width: calc(48% - 5px);
    padding-top: 29%;
  }
}
.thumb-container .thumb-unit .thumb-overlay {
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  height: 100%;
  background: rgba(46, 204, 113, 0.6);
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.thumb-container .thumb-unit .thumb-overlay strong {
  display: block;
  padding: 40px 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
}
.thumb-container .thumb-unit:hover .thumb-overlay {
  position: absolute;
  top: 0%;
  right: 0px;
  left: 0px;
}

.contact-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 630px;
  padding: 10px 5px;
}
.contact-wrapper h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
}
.contact-wrapper input {
  background: none;
  border: solid 2px #21a1e1;
  color: #21a1e1;
  padding: 14px 40px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
}
.contact-wrapper input:focus, .contact-wrapper input:active {
  outline: none;
}
.contact-wrapper input[type="text"], .contact-wrapper input[type="email"] {
  border: none;
  border-bottom: solid 2px #21a1e1;
  width: 308px;
}
.contact-wrapper input[type="submit"]:active {
  color: white;
  background: #21a1e1;
}
.contact-wrapper textarea {
  background: none;
  background: rgba(0, 0, 0, 0.025);
  border: none;
  border-top: solid 2px #21a1e1;
  color: #21a1e1;
  padding: 30px 0px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
  resize: none;
  width: 100%;
  height: 300px;
}
.contact-wrapper textarea:focus, .contact-wrapper textarea:active {
  outline: none;
}
.contact-wrapper .input-group {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.contact-wrapper .input-group input {
  padding: 15px 0px;
}
.contact-wrapper .input-group input + label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-130%);
  -moz-transform: translateY(-130%);
  -ms-transform: translateY(-130%);
  -o-transform: translateY(-130%);
  transform: translateY(-130%);
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
  color: #999999;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.contact-wrapper .input-group textarea + label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-640%);
  -moz-transform: translateY(-640%);
  -ms-transform: translateY(-640%);
  -o-transform: translateY(-640%);
  transform: translateY(-640%);
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
  color: #999999;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.contact-wrapper .input-group input:focus + label,
.contact-wrapper .input-group input.has-value + label {
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #888888;
}
.contact-wrapper .input-group textarea:focus + label,
.contact-wrapper .input-group textarea.has-value + label {
  top: 110px;
  left: 10px;
  font-size: 14px;
  color: #888888;
}

.admin-wrap {
  height: 100%;
}

.admin-header {
  height: 50px;
}

.admin-page-content {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  position: relative;
  background-color: #ecf0f1;
  height: 100%;
  z-index: 0;
}
.admin-page-content .admin-header {
  background-color: #408eba;
}
.admin-page-content .admin-header .toggle {
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  color: black;
  margin: 0 12px 0 12px;
}
.admin-page-content .admin-content {
  padding: 14px 20px;
  overflow-y: hidden;
  height: calc(100% - 50px);
}
.admin-page-content .admin-content .admin-title {
  color: #374547;
}
.admin-page-content .admin-content .admin-about-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 630px;
  height: 600px;
  padding: 10px 5px;
  text-align: center;
}
.admin-page-content .admin-content .admin-about-wrapper h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
}
.admin-page-content .admin-content .admin-about-wrapper .info {
  margin: 10px 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.admin-page-content .admin-content .admin-about-wrapper .btn {
  float: right;
}

.admin-sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -220px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  width: 220px;
  background-color: #f4f4f4;
  z-index: 0;
}
.admin-sidebar .admin-header {
  background-color: #3a80a7;
}
.admin-sidebar .admin-header .logo {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #408eba;
  font-family: "Amatic SC", cursive;
  font-size: 24px;
  padding: 0 24px;
  letter-spacing: 2px;
  line-height: 50px;
}
.admin-sidebar .nav li a {
  display: block;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #e2e2e2;
}
.admin-sidebar .nav li a:hover {
  background-color: #f9f9f9;
}

#sidebartoggler {
  display: none;
}
#sidebartoggler:checked + .admin-wrap .admin-sidebar {
  left: 0px;
}
#sidebartoggler:checked + .admin-wrap .admin-page-content {
  margin-left: 220px;
}

.btn {
  padding: 6px 12px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  float: left;
}
.btn:active {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.btn-green {
  background-color: #2ecc71;
}
.btn-green:hover {
  background-color: #12a350;
}

.btn-red {
  background-color: #e74c3c;
}
.btn-red:hover {
  background-color: #c0392b;
}

.btn-orange {
  background-color: #e67e22;
}
.btn-orange:hover {
  background-color: #d35400;
}

.modal-upload {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 760px;
  background-color: white;
  z-index: 12;
}
.modal-upload .modal-upload-exit {
  float: right;
  font-size: 26px;
  padding: 10px 20px;
}
.modal-upload.hidden {
  display: none;
}
.modal-upload .dropzone {
  margin: 50px 50px 20px 50px;
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  border: 2px dashed #cccccc;
}
.modal-upload .dropzone h1 {
  display: block;
  width: 478px;
  height: 500px;
  line-height: 500px;
  text-align: center;
  color: #cccccc;
  font-size: 26px;
}
.modal-upload .dropzone .upload-file {
  height: 80px;
  width: 100%;
  padding: 5px;
}
.modal-upload .dropzone .upload-file img {
  height: 70px;
  width: 70px;
}
.modal-upload .dropzone .upload-file span {
  display: block;
  height: 70px;
  padding-left: 10px;
  line-height: 70px;
  width: calc(100% - 70px);
  float: right;
}
.modal-upload .dropzone::-webkit-scrollbar {
  width: 12px;
}
.modal-upload .dropzone::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #cccccc;
}
.modal-upload .dropzone::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}
.modal-upload .dropzone.dragover {
  border-color: black;
}
.modal-upload .album {
  width: 500px;
  margin: 0 auto 20px;
  position: relative;
}
.modal-upload .manual {
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.modal-upload .manual label {
  position: absolute;
  left: 0;
  display: block;
  cursor: pointer;
  background-color: #e67e22;
  padding: 6px 12px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.modal-upload .manual label:hover {
  background-color: #d35400;
}
.modal-upload .manual label:active {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.modal-upload .manual label input.upload {
  display: none;
}
.modal-upload .manual a#dropzone_upload {
  display: block;
  position: absolute;
  right: 0;
  background-color: #2ecc71;
  padding: 6px 12px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.modal-upload .manual a#dropzone_upload:hover {
  background-color: #12a350;
}
.modal-upload .manual a#dropzone_upload:active {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.login {
  position: fixed;
  width: 450px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-70%);
  background-color: #ecf0f1;
  border-radius: 7px;
}
.login .login-header {
  background-color: #9b59b6;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.login .login-header h1 {
  font-family: "Amatic SC", cursive;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.login form {
  height: 240px;
  margin: 30px;
  border-radius: 15px;
}
.login form input[type="text"], .login form input[type="password"] {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  border: 0;
  background-color: #f8f9fa;
  margin: 0 0 10px 0;
}
.login form input[type="text"]:focus, .login form input[type="password"]:focus {
  outline: 0;
}
.login form input[type="submit"] {
  padding: 12px 20px;
  background-color: #8e44ad;
  border: 0;
  margin: 15px 0 0 0;
  border-radius: 2px;
  font-size: 20px;
  color: white;
}
.login form input[type="submit"]:focus {
  outline: 0;
}

.panel {
  width: 100%;
  min-height: 60px;
  border: 1px solid #888888;
  border-radius: 6px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 5px #bbbbbb;
}
.panel .panel-head {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #888888;
  padding: 5px 20px;
  font-size: 20px;
}
.panel .panel-body {
  width: 100%;
  min-height: 60px;
  padding: 10px 15px;
}
.panel .panel-body input {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
}
.panel .panel-body input.password {
  width: calc(50% - 5px);
}
.panel .panel-body input[type="submit"] {
  width: auto;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #e74c3c;
  border: 0;
  outline: 0;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.panel .panel-body input[type="submit"]:hover {
  background-color: #e43725;
}
.panel .panel-body input[type="submit"]:active {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.alert {
  background-color: #e74c3c;
  width: calc(100% - 240px);
  margin: 10px 120px;
  min-height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
}
.alert .alert-close {
  float: right;
}

.onoffswitch-container {
  width: 100%;
}

.onoffswitch {
  position: relative;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: -24px;
  right: calc(-100% + 100px);
}
.onoffswitch .onoffswitch-checkbox {
  display: none;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 14px;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner:before, .onoffswitch .onoffswitch-label .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner:before {
  content: "ON";
  padding-left: 19px;
  background-color: #2ecc71;
  color: white;
}
.onoffswitch .onoffswitch-label .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 19px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch .onoffswitch-label .onoffswitch-switch {
  display: block;
  width: 16px;
  margin: 3.5px;
  background: white;
  border: 2px solid #999999;
  border-radius: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 70px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.toolbar {
  height: 40px;
  margin: 0 0 15px 0;
}
.toolbar .btn {
  margin: 5px;
}

.images,
.albums {
  width: auto;
  margin: 10px auto;
}
.images .image-container,
.images .album-container,
.albums .image-container,
.albums .album-container {
  position: relative;
  width: 200px;
  height: 133px;
  padding: 0;
  margin: 5px;
  display: inline-block;
  overflow: hidden;
}
.images .image-container a.btn,
.images .album-container a.btn,
.albums .image-container a.btn,
.albums .album-container a.btn {
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
  z-index: 2;
}
.images .image-container label,
.images .album-container label,
.albums .image-container label,
.albums .album-container label {
  display: block;
}
.images .image-container .overlay,
.images .album-container .overlay,
.albums .image-container .overlay,
.albums .album-container .overlay {
  background: rgba(154, 205, 50, 0);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  border: 1px solid yellowgreen;
}
.images .image-container .icons,
.images .album-container .icons,
.albums .image-container .icons,
.albums .album-container .icons {
  position: absolute;
  right: 8px;
  bottom: 0px;
}
.images .image-container .icons img,
.images .album-container .icons img,
.albums .image-container .icons img,
.albums .album-container .icons img {
  height: 20px;
  width: 20px;
}
.images .image-container input[type="checkbox"],
.images .album-container input[type="checkbox"],
.albums .image-container input[type="checkbox"],
.albums .album-container input[type="checkbox"] {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.images .image-container input[type="checkbox"]:checked + .overlay,
.images .album-container input[type="checkbox"]:checked + .overlay,
.albums .image-container input[type="checkbox"]:checked + .overlay,
.albums .album-container input[type="checkbox"]:checked + .overlay {
  background: rgba(154, 205, 50, 0.2);
  border: 4px solid yellowgreen;
}
.images .image-container img,
.images .album-container img,
.albums .image-container img,
.albums .album-container img {
  width: 100%;
}
.images .image-container:hover > label > .overlay, .images .image-container:hover > .overlay,
.images .album-container:hover > label > .overlay,
.images .album-container:hover > .overlay,
.albums .image-container:hover > label > .overlay,
.albums .image-container:hover > .overlay,
.albums .album-container:hover > label > .overlay,
.albums .album-container:hover > .overlay {
  background: rgba(154, 205, 50, 0.3);
}
.images .image-container:hover > .btn,
.images .album-container:hover > .btn,
.albums .image-container:hover > .btn,
.albums .album-container:hover > .btn {
  display: block;
}

.html5-context-menu {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
}
.html5-context-menu li span {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}
.html5-context-menu li span:hover {
  background-color: #cccccc;
}
.html5-context-menu li.ruler {
  display: block;
  background-color: black;
  height: 1px;
}

.modal-addalbum {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 700px;
  background-color: white;
  z-index: 12;
}
.modal-addalbum .modal-addalbum-exit {
  float: right;
  font-size: 26px;
  padding: 10px 20px;
}
.modal-addalbum.hidden {
  display: none;
}
.modal-addalbum form {
  width: 80%;
  height: calc(100% - 40px);
  margin: 65px auto 20px;
}
.modal-addalbum form .images {
  width: 100%;
  margin: 30px 0 10px;
  height: 80%;
}
.modal-addalbum form .images .images1 {
  float: left;
}
.modal-addalbum form .images .images2 {
  float: right;
}
.modal-addalbum form .images .images1,
.modal-addalbum form .images .images2 {
  background-color: #ecf0f1;
  width: 45%;
  height: 100%;
  padding: 12px;
  overflow: hidden;
}
.modal-addalbum form .images .images1 .image,
.modal-addalbum form .images .images2 .image {
  position: relative;
  float: left;
  width: 155px;
  height: 100px;
  background-color: #cfd9db;
  margin: 5px;
  overflow: hidden;
}
.modal-addalbum form .images .images1 .image label,
.modal-addalbum form .images .images2 .image label {
  width: 100%;
  height: 100%;
}
.modal-addalbum form .images .images1 .image label .overlay,
.modal-addalbum form .images .images2 .image label .overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: rgba(154, 205, 50, 0);
}
.modal-addalbum form .images .images1 .image label img,
.modal-addalbum form .images .images2 .image label img {
  width: 100%;
}
.modal-addalbum form .images .images1 .image label input[type='checkbox'],
.modal-addalbum form .images .images2 .image label input[type='checkbox'] {
  display: none;
}
.modal-addalbum form .images .images1 .image label input[type='checkbox']:checked + .overlay,
.modal-addalbum form .images .images2 .image label input[type='checkbox']:checked + .overlay {
  background: rgba(154, 205, 50, 0.3);
  border: 4px solid yellowgreen;
}
.modal-addalbum form .images .images1 .image label:hover > .overlay,
.modal-addalbum form .images .images2 .image label:hover > .overlay {
  background: rgba(154, 205, 50, 0.3);
}
.modal-addalbum form .images .images1 .image.thumb > label > .overlay:before,
.modal-addalbum form .images .images2 .image.thumb > label > .overlay:before {
  content: "thumbnail";
  color: white;
  font-size: 16px;
}
.modal-addalbum form .images .move-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 110px;
  transform: translate(-50%, -50%);
}
.modal-addalbum form .images .move-container .move {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #ecf0f1;
  border: 1px solid #cccccc;
  line-height: 45px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
}
.modal-addalbum form .images .move-container .move:first-child {
  margin-bottom: 10px;
}
.modal-addalbum form .btn-green {
  float: right;
}

.dash-row {
  height: 120px;
  width: 100%;
}
.dash-row .dash-panel {
  float: left;
  height: 100%;
  width: 50%;
  min-width: 300px;
  padding: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.dash-row .dash-panel .dash-panel-body {
  position: relative;
}
.dash-row .dash-panel .dash-panel-body .txt {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
.dash-row .dash-panel .dash-panel-body .count {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  top: 2px;
}
.dash-row .dash-panel .dash-panel-body .icon {
  position: relative;
  float: right;
  top: -10px;
  right: -46px;
  font-size: 60px;
}
.dash-row .dash-panel-green {
  background-color: #2ecc71;
}
.dash-row .dash-panel-red {
  background-color: #e74c3c;
}

.upload-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -220px;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.upload-overlay.show {
  display: block;
}
